/* dropdown */
.drop:not(ul) {display:inline-block;}
.drop:not(ul), ul.drop li {position:relative;}
.drop:not(ul)>:not(a), ul.drop ul {z-index:50;position:absolute;left:0;top:100%;box-shadow:0 .2em .8em rgba(0,0,0,.3);min-width:12em;scroll-margin-top:3rem;box-sizing:border-box;}
	ul.drop, ul.drop ul {list-style:none;margin:0;padding:0;}
.drop:not(ul):not(:hover)>:not(a):not(:target), ul.drop li:not(:hover)>ul {display:none;}
.drop:not(ul)>:not(a):not(.inv):not([class*="bg-"]), ul.drop ul {background:#fff;}
	.drop:not(ul)>:not(a).c, .drop:not(ul)>:not(a).r {min-width:auto;white-space:nowrap;padding:0 .4em;text-align:left;}
	.drop>:not(a).l {left:auto;right:0;}
	.drop:not(ul)>:not(a).r {top:50%;left:100%;transform:translateY(-50%);margin-left:.2em;}
	.drop:not(ul)>:not(a).c {top:auto;bottom:100%;left:50%;transform:translateX(-50%);}
ul.drop ul ul, ul:not(.row) ul{left:5em;top:80%;}
ul.drop li.r ul{left:auto;right:0;text-align:left;}
ul.drop li.r ul ul{right:5em;}

/* subnav arrow */
ul.drop li>a:nth-last-child(2):after {position:static;display:inline-block;content:'\a0\a0\203a';color:#999;}
ul.drop ul li>a:nth-last-child(2):after {position:absolute;right:.5em;top:.5em;}

/* mobile */
@media (max-width: 899px) {
	ul.drop.row.act ul{left:4em;top:80%;}
}