/*! granum-grid.css v1.1.5 */

/*

# Usage

- Menu `.grid.roll > * + .l + .r`
- Row `.grid > .col-X`
- Grid `.grid.l.grid-X > * + .col-X`
- `.grid.pad.gap.flip`

# Bugs

- Without native gap adds right margin: `.gap.l > .r`
- Without native gap may have no last gap: `.gap.l > .r`

*/

.grid {display:flex;}
.grid.l {flex-wrap:wrap;}
.grid.roll {overflow-x:auto;}
.grid.gap {--gap:1em;}
.grid.pad {padding:1em;}
.grid > * {box-sizing:border-box;text-align:inherit;}
.grid-1 {--cols:1;}
.grid-2 {--cols:2;}
.grid-3 {--cols:3;}
.grid-4 {--cols:4;}
.grid-6 {--cols:6;}
.col-1 {flex:1;}
.col-2 {flex:2;}
.col-3 {flex:3;}
[class*="grid-"][class] > * {width:calc(100% / var(--cols));flex:none;--span:1;}
	[class*="grid-"] > .col-2 {--span:2;}
	[class*="grid-"] > .col-3 {--span:3;}
	[class*="grid-"] > .col-4 {--span:4;}
	[class*="grid-"] > [class*="col-"] {width:calc(var(--span) * 100% / var(--cols));}

/* emulate gap */
.grid.gap.l {gap:0;margin:calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));}
.grid.gap.l > * {margin:var(--gap) 0 0 var(--gap);width:calc(100% / var(--cols) - var(--gap));}
.grid.gap:not(.l) > * + * {margin-left:var(--gap);}
	.gap.l[class*="grid-"] > [class*="col-"] {width:calc(var(--span) * 100% / var(--cols) - var(--gap));}

/* native gap */
@supports (gap:1em) {
	.grid.gap[class] {gap:var(--gap);margin:0;}
	.grid.gap[class] > * {width:calc((100% + var(--gap)) / var(--cols) - var(--gap));margin:0;}
		.gap[class][class*="grid-"] > [class*="col-"] {width:calc(var(--span) * (100% + var(--gap)) / var(--cols) - var(--gap));}
}

/**/
.grid > .l[class] {margin-left:auto;}
.grid > .r[class] {margin-right:auto;}

@media (max-width: 899px) {
	.grid.flip {display:block;}
	.grid.flip[class][class] > * {width:auto;}
}