.icon-link2 {--w:11;--p:path("M3.8 3.5a3 2 0 1 0 3 2h-1a2 1 0 1 1 -2-1z  m.4 2a3 2 0 1 1 3 2v-1a2 1 0 1 0 -2-1z");}
.icon-link3 {--w:11;--p:path("M4.35 3.5h-1.5q-2 0 -2 2t2 2h2q2 0 2-2v-.5h-1v.5q0 1-1 1h-2q-1 0-1-1t1-1h1z   m-.2 2q0-2 2-2h2q2 0 2 2t-2 2h-1.5l.5-1h1q1 0 1-1t-1-1h-2q-1 0-1 1v.5h-1z");}
.icon-link4 {--w:11;--p:path("M6.5 3.5q2.5 2.5-.5 5.5t-5 1t2-6v2q-2 2-1 3t3-1t.5-3.5z   m-2 4q-2.5-2.5 .5 -5.5t5 -1t-2 6v-2q2-2 1-3t-3 1t-.5 3.5z");}
.icon-link5 {--w:11;--p:path("M7 4q2 2-1 5t-5 1t2-6v2q-2 2-1 3t3-1t1-3z   m-2.5 2.5q-2-2 1 -5t5 -1t-2 6v-2q2-2 1-3t-3 1t-1 3z");}
