/*
  vars:
  r = root
  f = font
  i = icon
  sz = size
*/
:root{
  /* basic */
  --font-scale: 1.2;
  --lh: 1.5;
  --icon-scale: 1.2;
  --bg: #fcfcfc;
  --over: #0002;
  --text: #222;
  --link: #03a;
  --act: #06f;
  --bg-act: #def;
  --hover: #c00;
  --shade: 0 .1em .8em 0em #0003;
  --rgap: 1rem;
  --gap: 1em;
  --bord: thin solid #0002;
  --rad: .2em;
  --min-pop-w: 10em;
  --max-pop-h: 20em;
  /* status */
  /*--ll: 222; /*link*/
  --nn: 200;
  --ii: 195;/*195*/
  --yy: 120;/*120*/
  --ww: 35;/*35*/
  --ee: 0;
  --rsatur: 95%;/*90*/
  --lit: 47%;/*45..48*/
  --lit-bg: 90%;/*88..92*/
  --alpha-bg: 8%;/*15*/
  /* fonts */
  --serif: "PT Serif", Georgia, serif;
  --sans: "PT Sans", Roboto, "Segoe UI", sans-serif;
  --mono: "PT Mono", monospace;;
  
  /* dependent */
  --icon-vert: calc(1% * (var(--icon-scale) * 50 - 60)); /* -10% for scale 1, 0 for scale 1.2 */
  --icon-mar: calc(1em * (var(--icon-scale) - .7)); /* .3em for scale 1, .5em for scale 1.2 */
  --gap-s: calc(.5 * var(--gap));
  --pad: var(--gap-s) var(--gap);
  --pad-s: calc(.25 * var(--gap)) var(--gap-s);
  --pad-xs: calc(.12 * var(--gap)) calc(.25 * var(--gap));
  --mar: var(--gap) 0;
  --mar-s: var(--gap-s) 0;
  --bgl: hsl(var(--nn) 0% var(--lit) / var(--alpha-bg));
  --shade-hover: inset 0 0 0 200vh var(--bgl);
}

/* reset */
img, embed, iframe, object, audio, video {max-width:100%;}
button, input, select, textarea, :is(li, details) :is(ul, ol, dl) {margin:0;}
img, iframe, fieldset, hr {border:none;}
img {object-fit:cover;}
html, body, li, dl, dt, dd, legend, iframe, fieldset {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0}
td, th {padding:0;text-align:left}
* {box-sizing:content-box;}
table, img, embed, iframe, object, audio, video, button, input, select, textarea,
	.col, .row, .row>*, .container, .container>*, .modal, .drawer, .stick, .full {box-sizing:border-box;}

button, [type="submit"], [type="search"] {-webkit-appearance:none;} /* safari */
button::-moz-focus-inner, [type="submit"]::-moz-focus-inner {border:none;} /* firefox */

/* typography */
body {color:var(--text);background-color:var(--bg);font-size:calc(100% * var(--font-scale));}
body, h1, h2, .h1, .h2 {line-height:var(--lh);}
input, button, select, textarea, table {font:inherit;}
main, img.fit, img.center /*, table.roll*/ {display:block;}
  img.wide {width:100%;}
  img.c {border-radius:50%;aspect-ratio:1;}
h1, .h1 {--fsz:2;}
h2, .h2 {--fsz:1.55;}
h3, .h3 {--fsz:1.2}
h4, .h4, body {--fsz:1;}
h5, .h5, small, .small, .tag {--fsz:.83;}
h6, .h6 {--fsz:.67;}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6,small,.small,.tag {font-size:calc(100% * var(--fsz));}
h1, h2, h3, h4, h5, h6{margin:calc(2 * var(--rgap)) 0 var(--rgap) 0;}
h1, h2, .h1, .h2 {--lh:1.3;}
.sans, .tag, body {font-family:var(--sans);}
.serif {font-family:var(--serif);}
.mono, pre, code, kbd, samp {font-family:var(--mono);font-size:90%;}
  pre, code  {white-space:pre-wrap;}
  pre {overflow:auto;max-height:80vh;}
  pre code {font-size:100%;}
  code, kbd {padding:var(--pad-xs);}
.fit, pre code {margin:0;padding:0;border:none;border-radius:0;box-shadow:none;background:none;}
.mar, .row.mar, ul, ol, dl, blockquote, pre, hr, p, figure {margin:var(--mar);}
.pad, .row.pad, fieldset, blockquote, pre {padding:var(--pad);}
	legend {margin-left:var(--gap);}
	legend, .tag {padding:0 .3em;}
	.tag {min-width:.6em;border-radius:.6em;line-height:1.2;}
.shade {box-shadow:var(--shade);}
.bord, kbd, fieldset, hr {border:var(--bord);}
  hr {border-width:thin 0 0 0;}
.rad, code, kbd, pre, button, [type="submit"] {border-radius:var(--rad);}
  abbr {border-bottom:thin dotted;text-decoration:none;}
sub, sup {line-height:0em;}

.badge {position:relative;display:inline-block;}
.badge>.tag {position:absolute;top:0;right:0;--fsz:.75;transform:translate(50%,-50%);z-index:10;}
.badge:not(button, [type="submit"], .pad) > .tag {right:-.3em;top:.3em;}
.badge[class*="icon-"]>.tag {right:auto;left:1.5em;top:.2em;transform:translate(-50%,-50%);}
.badge>.tag:empty {font-size:.5em;min-height:1.2em;}

.stack>:first-child {margin-top:0;}
.stack>:last-child {margin-bottom:0;}
.pad.stack {padding:var(--gap);} /* optional */
.stack.line>:not(:last-child) {border-bottom:var(--bord);}

/* todo: bar */
/* todo: status border color? */

/* links */
a[href], .link, .check, .pop>a, ul.row a {display:inline;color:var(--link);/*text-decoration:none;*/cursor:pointer;text-underline-offset:.2em;text-decoration-thickness:1px;}
  a[href^="#"] {text-decoration-style:dashed;}
  ul.row ul {cursor:default;}
  ul.row li:has(>a) {cursor:pointer;}
  a:not([href]), a[href^="#"], a.pad, ul.pads a, .tabs>a {text-decoration:none;}
a.act, a[href^="#"]:has(+:target), .check:has(:checked), .tabs:not(:has(:target))>a:first-of-type, [open]>.link {color:var(--act);background-color:var(--bg-act);}
:is(a[href]:not(.pad), .link, .check):hover, .pop:hover>a:not(.pad), ul.row li:hover>a:not(.pad) {color:var(--hover);}
:is(a, button, .link, .check, summary).hover:hover, ul.row.hover li:is(:hover, :has(:hover)):has(>a), .pop:hover>a.hover, table.hover tbody tr:hover>*, .tabs.hover>:is(a,label):hover {box-shadow:var(--shade-hover);}

/* colors */
[class].text {color:var(--text);}
[class].back, .stick {background-color:var(--bg);}
blockquote, pre, code {background-color:var(--bgl);}

/* status */
.nn, .ii, .yy, .ww, .ee, .tag, mark {--lt:calc(var(--lit) + var(--dlit, 0%));--satur:var(--rsatur);}
.nn, [data-hint]:after {--hue:var(--nn);--satur:0%;--dlit:15%;}
.ii {--hue:var(--ii);--dlit:-3%;}
.yy {--hue:var(--yy);--dlit:-12%;}
.ww {--hue:var(--ww);}
.ee {--hue:var(--ee);--dlit:-5%;}
.tx[class] {color:hsl(var(--hue) var(--satur) calc(var(--lt) - 5%));}
.ic[class]:before {color:hsl(var(--hue) var(--satur) var(--lt));}
.bg[class] {background-color:hsl(var(--hue) var(--satur) var(--lit-bg));}
.bt[class] {background-color:hsl(var(--hue) var(--satur) var(--lit) / var(--alpha-bg));}
.bk[class], [data-hint]:after {background-color:hsl(var(--hue) var(--satur) var(--lt, var(--lit)));color:var(--bg);}
.bk[class] a {color:var(--bg);}
mark {background-color:hsl(var(--ww) var(--satur) /*var(--lit-bg)*/ 85%);}
:is(button, [type="submit"]):not(.tx, .bg, .bk, .bt, .back, .fit) {background-color:var(--link);color:var(--bg);}
.tag:not(.tx, .bg, .bk, .bt, .back, .fit) {background-color:hsl(var(--ee) var(--rsatur) var(--lit));color:var(--bg);}


/*
mark {background-color:hsl(var(--ww) 100% 85%);}
.tx {color: hsl(var(--hue, var(--nn)) var(--satur, var(--rsatur)) calc(var(--lt) - 5%));}
[class*="icon-"]:is(.nn, .ii, .yy, .ww, .ee):before {color: hsl(var(--hue, var(--nn)) var(--satur, var(--rsatur)) calc(var(--lt) - 5%));}
.bt, .bg, .bk, .tag, button, [type="submit"] {background-color: hsl(var(--hue, var(--nn)) var(--satur, var(--rsatur)) var(--lt) / var(--alpha, 100%));}
.bk, :is(.tag, button, [type="submit"]):not(.bt, .bg), .bk a {color:var(--bg);}
.nn, .ii, .yy, .ww, .ee, .tag, button, [type="submit"], [class*="icon-"]:before {
  --dlit:0%;
  --alpha:100%;
  --lt:calc(var(--lit) + var(--dlit, 0%));
}
  :is(button, [type="submit"]):not(.nn, .ii, .yy, .ww, .ee) {--hue:var(--ll);--dlit:-10%;}
  .tag {--hue:var(--ee);}
  .nn {--hue:var(--nn);--satur:0%;--dlit:15%;}
  :is(.ii, .yy, .ww, .ee) {--satur:var(--rsatur);}
  .ii {--hue:var(--ii);--dlit:-3%;}
  .yy {--hue:var(--yy);--dlit:-12%;}
  .ww {--hue:var(--ww);}
  .ee {--hue:var(--ee);--dlit:-5%;}
  .bg {--dlit:43%;}
  .bt {--alpha:8%;--dlit:0%;}
*/

/* row */
.row {--flow:row nowrap;--wid:auto;--push:auto;display:flex;flex-flow:var(--flow);width:var(--wid);}
.row.wrap, ul.row, .tabs {--flow:row wrap;}
.row.vert {--flow:column nowrap;--push:0;}
ul.row.vert {--wid:var(--min-pop-w);}
.row.gap, [class*="grid-"].gap {gap:var(--gap);}
  .row:not(ul).mid {align-items:center;}
  .row>.mid, ul.row>li>.mid:not(ul) {align-self:center;}
.col-1, .stretch>* {flex:1;}
.col-0 {flex:initial;}
.col-2 {flex:2;}
.col-3 {flex:3;}
:is(.row, [class*="grid-"])>*>img:only-child {width:100%;height:100%;aspect-ratio:3/2;}

/* grid */
[class*="grid-"] {--cell-width:16rem;display:grid;grid-template-columns:repeat(auto-fill, minmax(min(100%, var(--cell-width)), 1fr));}
.grid-xs {--cell-width:8rem;}
.grid-s {--cell-width:12rem;}
.grid-l {--cell-width:24rem;}
.cell-2 {grid-column-end:span 2;}
.cell-3 {grid-column-end:span 3;}
.cell-4 {grid-column-end:span 4;}

/* form as grid */
.form {--cols:minmax(min(40%, 8rem), 1fr) 3fr;--line:2;--label-align:right;--form-gap:var(--pad);--form-mar:calc((2 - var(--line)) * var(--gap-s));--col-full:1/calc(1 + var(--line));--pad-fset:calc((2 - var(--line)) * var(--gap));}
.form {display:grid;justify-items:start;align-items:first baseline;grid-template-columns:var(--cols);gap:var(--form-gap);}
.form>:not([name], :has([name])) {justify-self:var(--label-align);}
.form>:is([name], :has([name])) {grid-column-start:var(--line);}
.form>:is([name], :has([name])) + * {margin-top:var(--form-mar);}
.form[class] fieldset, .form .wide {grid-column:var(--col-full);justify-self:stretch;}
.form[class] fieldset {padding:var(--gap-s) var(--pad-fset);}
.form legend {margin-left:calc(var(--gap) - var(--pad-fset) - .3em);}
/* responsive form */
.form.vert {--cols:1fr;--line:1;--label-align:left;--form-gap:0;}


/* toggle */
.target:not(:target):not(:has(:target)), .check:not(:has(:checked)) + :not(:target):not(:has(:target)), .check input {display:none;}
/*.target, .tabs+div :target, .tabs :target, :is(h1,h2,h3):target {scroll-margin-top:5rem;}*/
html {scroll-padding-top:5rem;scroll-behavior:smooth;}
/* overlay - todo: simplify */
.overlay, #overlay {cursor:default;display:none;border:none;}
:is(
  .target:target,
  .target:has(:target),
  form:has(:not(.check)>[type="radio"]:checked) .modal.confirm
) + .overlay, 
body:has(.target.modal:target, .target.modal :target, .drawer:target, .drawer :target) #overlay,
body:has(.target.modal:target, .target.modal :target, .drawer:target, .drawer :target):not(:has(#overlay)):before
  {content:'';display:block;position:fixed;inset:-5em;background:var(--over);}
.overlay {z-index:101;}
#overlay, body:before {z-index:100;}
body:has(.modal.full:target, .modal.full :target) {overflow:hidden;}

/* modal */
.modal {position:fixed;z-index:130;overflow:auto;}
  .modal:not(.full) {min-height:10rem;max-height:90dvh;min-width:18rem;max-width:90vw;inset:50% auto auto 50%;transform:translate(-50%,-50%);}
  .modal.full {inset:0;/*calc(5 * var(--gap));*/}
a:has(img:target), ul.row li {-webkit-tap-highlight-color:transparent;}
img:target {position:absolute;display:block;inset:0;width:100%;height:100%;object-fit:contain;}

/* drawer */
.drawer {position:fixed;inset:0 auto 0 -21em;width:min(20em, 80%);z-index:120;transition:left .2s, right .2s;overflow:auto;}
.drawer:target {left:0;}
.drawer.shift {inset:0 -21em 0 auto;}
.drawer.shift:target {right:0;}

/* pop, drop, hint */
.pop, ul.row li, [data-hint] {position:relative;/*z-index:20;*/}
.pop>:last-child, /*[data-hint]:after,*/ ul.row ul, .modal, .drawer {border:none;background-color:var(--bg);box-shadow:var(--shade);}
.pop {display:inline-block;}
  /* for variable items height */
  ul.row.mid:not(.vert) li {display:flex;align-items:center;}
  /* subnav arrow */
  ul.row li:has(ul)>a {padding-right:calc(1.5 * var(--gap));}
  ul.row li:has(ul)>a:after {content:'\a0\a0\203a';color:var(--text);opacity:.5;position:absolute;right:.5em;top:50%;transform:translateY(-60%);}
  /**/
.pop:not(:hover, :has(>:first-child.check), [open]) > :last-child, ul.row li:not(:hover)>ul {display:none;}
  [data-hint]:hover:after {content:attr(data-hint);/*user-select:auto;*/}
.pop>:last-child, ul.row ul, [data-hint]:after {position:absolute;inset:var(--pos);transform:var(--mov);z-index:50;}
.pop>:last-child, ul.row ul {min-width:var(--min-pop-w);}
  .pop>:last-child:not(:has(.pop)), ul.row ul:not(:has(ul)) {max-height:var(--max-pop-h);overflow:auto;}
ul, ul.vert>li>ul {--pos:0 auto auto 100%;}
.pop:last-child, .row>li>ul {--pos:100% auto auto 0;}
[data-hint]:after {white-space:nowrap;padding:var(--pad-s);--lit:30%;}
  [data-hint]:not([class*="pos-"]):after {--pos:auto auto 100% 0;}
  [data-hint] {/*border-bottom:thin dashed #ccc;*/cursor:help;}
ul.row, ul.row ul, ul.row li {list-style:none;margin:0;padding:0;}
  ul.row ul {padding:calc(1 * var(--gap)) 0;}
[class].pos-tl {--pos:auto 0 100% auto;}
[class].pos-t  {--pos:auto auto 100% 50%;}
[class].pos-tr {--pos:auto auto 100% 0;}
[class].pos-bl {--pos:100% 0 auto auto;}
[class].pos-b  {--pos:100% auto auto 50%;}
[class].pos-br {--pos:100% auto auto 0;}
[class].pos-rt {--pos:auto auto 0 100%;}
[class].pos-r  {--pos:50% auto auto 100%;}
[class].pos-rb {--pos:0 auto auto 100%;}
[class].pos-lt {--pos:auto 100% 0 auto;}
[class].pos-l  {--pos:50% 100% auto auto;}
[class].pos-lb {--pos:0 100% auto auto;}
[class].pos-c {--pos:50% auto auto 50%;transform:translate(-50%,-50%);}
.pos-t, .pos-b {--mov:translateX(-50%);}
.pos-l, .pos-r {--mov:translateY(-50%);}

/* tabs */
.tabs a, .tabs>label {border-bottom:2px solid transparent;}
.tabs a:is(.act, :hover), .tabs>label:is(:has(:checked), :hover), .tabs>a:has(+:target), .tabs:not(:has(:target))>a:first-of-type {border-color:initial;}
  .tabs>div {order:10;width:100%;}
ul.tabs + div:not(:has(:target)) > :not(:first-child),
ul.tabs + div:has(:target) > :not(:is(:target, :has(:target)))
{display:none;}
  /* v2 */
  .tabs:not(:has(:target)) > a:not(:first-of-type)+div,
  .tabs:has(:target) > a+div:not(:is(:target, :has(:target)))
  {display:none;}


/* todo: gallery: close with shade, back, bg */
/* todo: js: store, unscroll? */


/* list */
ul {list-style:disc outside;}
ul, ol, dl {margin:var(--mar);}
ul, ol, dd {padding:0 0 0 var(--gap);}
details>/*:not(summary)*/:is(details, ul, ol, dl) {margin-left:var(--gap);}
li, dt, dd {margin:.2em 0;}
dt {font-weight:bold;}
.row, .fit, ul.fit ul {list-style:none;}

/* form */
fieldset {min-width:0;} /* fix overflow */
input, select {max-width:100%;}
textarea {width:100%;display:block;}
input, button, select, textarea {padding:.2em;margin:.1em 0;border:thin solid #aaa;}
button, [type="submit"] {padding:var(--pad);margin:.2em 0;}
	button, [type="submit"], a.pad:not(.bord) {border:thin solid transparent;}
button:not([disabled]), [type="submit"]:not([disabled]), summary {cursor:pointer;}
form>button, form>[type="submit"] {padding:var(--pad-xs);margin:0;}
input[readonly] {background-color:var(--bgl);}
/* focus */
button:hover:not([disabled]), [type="submit"]:hover:not([disabled]),
button:focus, input:focus, select:focus, textarea:focus, [contenteditable]:focus/*, summary:focus*/
  {box-shadow:0 0 0 .15em #aaa4;outline:none;}
[name]:invalid:not(.fresh):focus {box-shadow:0 0 0 .15em #f665;}
:is([type="checkbox"], [type="radio"]):invalid:not(.fresh) + :is(span, label) {color:#c00;}
/* validation */
.inact, form:has(:invalid) .detect:is(button:not([type]), [type="submit"]) {opacity:.3;pointer-events:none;/*filter:grayscale(1);*/}
[disabled] {cursor:not-allowed;opacity:.3;}
form:not(:has(:not(.check)>[type="radio"]:checked)) .confirm {display:none;}
:valid~.report, :invalid~.approve, .fresh~:is(.report, .approve)/*, form:not(:focus-within) :is(.report, .approve)*/ {display:none;}
/* layout */
form p {margin:var(--mar-s);}


/* table */
caption, figcaption {text-align:left;font-style:italic;}
table.wide {width:100%;}
table:not(.fit)>*>tr>* {padding:var(--pad-s);}
tr>* {vertical-align:top;background-clip:padding-box;}
table.bord {border:none;}
table.bord>*>tr>* {border:var(--bord);}
table.line>*>tr>* {border-bottom:var(--bord);}
  table.line>:last-child>tr:last-child>* {border-bottom:none;}
table.mid>*>tr>*, tr.mid>*, tr>.mid, img.mid, img.c {vertical-align:middle;}
table.c>*tr>* {text-align:center;}
.r1 td:nth-child(1) {text-align:right;}
.r2 td:nth-child(2) {text-align:right;}
.r3 td:nth-child(3) {text-align:right;}
.r4 td:nth-child(4) {text-align:right;}
.r5 td:nth-child(5) {text-align:right;}
.r6 td:nth-child(6) {text-align:right;}
.r7 td:nth-child(7) {text-align:right;}
.r8 td:nth-child(8) {text-align:right;}
.r9 td:nth-child(9) {text-align:right;}

/* modifiers */
.resize {resize:both;overflow:auto;}
.col {max-width:45em;}
.full:not(.modal) {height:100vh;height:100dvh;}
.nobr {white-space:nowrap;}
.scroll {overflow:auto;min-width:5em;min-height:5em;}
.center {margin-inline:auto;}
.l {text-align:left;}
.c, .tag {text-align:center;}
.r {text-align:right;}
.corner {position:absolute;top:0;right:0;width:auto;z-index:40;}
  .row .push {margin-right:var(--push);}
  .row .shift {margin-left:var(--push);}
  .row:not(.vert) .push + .shift {margin-left:0;}
/* modifiers fix */
a.pad, .tag {display:inline-block;}
ul.pads li>:not(ul, form), .tabs:not(ul).pads>:not(div), table.pads>*>tr>* {padding:var(--pad);}
ul.pads li>:not(ul, form), .tabs:not(ul).pads>:not(div) {display:block;}  
ul.pads li>form {padding:0 var(--gap);}

@media screen {
	.stick {position:sticky;top:0;z-index:35;}
	footer.stick {top:auto;bottom:0;z-index:30;}
	.row .stick{align-self:start;max-height:100vh;max-height:100dvh;}
}

/* mobile */
@media (width < 50rem) { /* < 800px */
	:root {--font-scale: 1;}
  .row.resp {--flow:column nowrap;--push:0;}
  ul.row.resp {--wid:var(--min-pop-w);}
  ul.row.resp ul {--pos:0 auto auto 100%;} /* avoids custom pos */
  .form.resp {--cols:1fr;--line:1;--label-align:left;--form-gap:0;}
}

@media (width < 25rem) { /* < 400px */
  ul.row:is(.vert, .resp) ul {--pos:20% auto auto calc(var(--min-pop-w) * .5);} /* compact dropdown */
}

/* containers */
.container {container: block / inline-size;position:relative;z-index:20;}
@container block (width < 25rem) {
  .row.aware {--flow:column nowrap;--push:0;}
  ul.row.aware {--wid:var(--min-pop-w);}
  ul.row:is(.vert, .aware) ul {--pos:20% auto auto calc(var(--min-pop-w) * .5);} /* compact dropdown */
  .form.aware {--cols:1fr;--line:1;--label-align:left;--form-gap:0;}
}

/**/

/* invert */
html, .invert {background:var(--bg);}
html, img, video, iframe, .invert {filter:var(--mode);}
html {--mode:none;}
html.invert, html:has(#invert:checked) {--mode:invert(.9) hue-rotate(180deg);}
@media (prefers-color-scheme: dark) {
  html:not(.invert) {--mode:invert(.9) hue-rotate(180deg);}
  html.invert, html:has(#invert:checked) {--mode:none;}
}

/* custom scrollbar */
.scrollbar::-webkit-scrollbar{width:.5em;height:.5em;background:#eee;}
.scrollbar::-webkit-scrollbar-thumb{background:#ccc;}
.scrollbar{scrollbar-width:thin;scrollbar-color:#ccc #eee;}

/* label with link */


/* switches */
html:has(#x1:not(:checked)) .x1,
html:has(#x2:not(:checked)) .x2,
html:has(#x3:not(:checked)) .x3,
html:has(#x4:not(:checked)) .x4,
html:has(#x5:not(:checked)) .x5,
html:has(#x6:not(:checked)) .x6,
html:has(#x7:not(:checked)) .x7,
html:has(#x8:not(:checked)) .x8,
html:has(#x9:not(:checked)) .x9
{display:none;}

/* animations */
.modal:not(.full)/*, ul.row ul*/ {animation:appear .3s;}
.report, .approve{animation:delay-appear .5s;}
@keyframes appear { 0% {opacity:0;} 100% {opacity:1;} }
@keyframes delay-appear { 0% {opacity:0;} 30% {opacity:0;} 100% {opacity:1;} }

/* debug */
html:has(#debug:checked) .row>*>img:only-child {object-fit:contain;background:var(--bgl);}
html:has(#debug:checked) .fresh {background:#cfc;box-shadow:0 0 .5em #0909;}

/*
z-index
10  .badge>.tag
20 .container
30 .stick
40   .corner
50  .pop > div
50  .drop > ul
100 #overlay
101 .overlay
120 .drawer
130 .modal
*/