:root {
  /* link state */
  --visited: #808;
  --hover: color-mix(in oklch, var(--link), var(--front));/*#036;*/
  --active: #f00;
  
  /* invert */
  --front-invert: var(--back);/*#fff;*/
  --back-invert: var(--front);/*#666;*/
  --link-invert: color-mix(in oklch, var(--link) 35%, var(--back));/*#aef;*//*#8cf;*//*#fe3;*/

  /* status */
  --light-front: 52%;
  --light-back: 93%;
  --chroma-front: 42%;
  --chroma-back: 12%;
  --note: 90; /* front/back: 90/90 */
  --info: 210; /* 224/220 */
  --success: 143; /* 143/145 */
  --warning: 80; /* 70/84 */
  --danger: 25; /* 25/19 */
  
  /*
  --front-note: #888;
  --front-info: #08a;
  --front-success: #181;
  --front-warning: #b70;
  --front-danger: #c33;
  --back-note: #eee;
  --back-info: #bef;
  --back-success: #beb;
  --back-warning: #fd9;
  --back-danger: #fbb;
  */
    --front-note:    color-mix(in oklch, var(--front) 60%, var(--back));
    --front-info:    oklch(var(--light-front) var(--chroma-front) var(--info));
    --front-success: oklch(var(--light-front) var(--chroma-front) var(--success));
    --front-warning: oklch(var(--light-front) var(--chroma-front) var(--warning));
    --front-danger:  oklch(var(--light-front) var(--chroma-front) var(--danger));
    --back-note:    color-mix(in oklch, var(--front) var(--chroma-back), var(--back)); /* --chroma-back is misused; needed 10% for light, 20% for dark mode */
    --back-info:    oklch(var(--light-back) var(--chroma-back) var(--info));
    --back-success: oklch(var(--light-back) var(--chroma-back) var(--success));
    --back-warning: oklch(var(--light-back) var(--chroma-back) var(--warning));
    --back-danger:  oklch(var(--light-back) var(--chroma-back) var(--danger));

  /* input outline */
  --outline-hover: #ddd8;
  --outline-focus: #ccc8;
  --outline-focus-visible: #9cfa;
  --outline-valid: #3c36;
  --outline-invalid: #f666;
}

a:has(img), ul.row li {-webkit-tap-highlight-color:transparent;}

body, dialog, [popover] {color:var(--front);background-color:var(--back);}
.diagonals {background:repeating-linear-gradient(135deg, #9990, #9990 1em, #9991 1em, #9991 2em);}

.shade {box-shadow:var(--shade);}
.hilite, thead, tfoot, pre, code, blockquote, [readonly]:not(.input [readonly]) {background-color:var(--hilite);}
  pre code {background:none;}
:is(a, button, summary, label, .check).hover:hover, ul.row.hover li:is(:hover, :has(:hover))>:is(a, label)/*:has(>a)*/, .pop:hover>a.hover, table.hover  tr:hover>*/*, .tabs.hover>:is(a,label):hover*/ {box-shadow:inset 0 0 0 300vh var(--hilite);}

a:where([href]), :where(ul.row) a, .pop > a, .link {color:var(--link);text-decoration:var(--decor, underline);}
a:where([href]:not([href^="#"]):visited) {color:var(--visited);}
a:where([href]:hover), .link:hover {color:var(--hover);}
a:where([href]:active), details[open] > summary, .act, .check:has(:checked) {color:var(--active);}
button:where(.link, .nodec) {all:unset;}
button.link {outline:none;}
button.link:focus-visible {outline:.2em solid var(--outline-focus-visible);}
:where(a, .link).nodec, .nodec :where(a, .link) {--decor:none;}
.link {cursor:pointer;}

button:where(:not(.link/*, .sel*/))   {--ff:var(--link);--fff:var(--link);}
.tag     {--ff:var(--front-note);}
:where(button, .tag).bord {--ff:var(--fff, var(--front));--bb:var(--back);}
.neutral {--ff:var(--front);--bb:var(--back);}
.note    {--ff:var(--front-note);--bb:var(--back-note);}
.info    {--ff:var(--front-info);--bb:var(--back-info);}
.success {--ff:var(--front-success);--bb:var(--back-success);}
.warning {--ff:var(--front-warning);--bb:var(--back-warning);}
.danger  {--ff:var(--front-danger);--bb:var(--back-danger);}
  /*:where(button:not(.bg)).bord {--bb:var(--back);}*/

:where(.bg) {--bb:initial;}
:where(.text, .bord) {--ff:initial;}
:where(button, .tag).bord {background-color:var(--back);}
.text, .ic:before, :where(.neutral, .note, .info, .success, .warning, .danger, button:not(.link), .tag):not(.bg, .ic) {color:var(--ff, var(--front));}
.bg {background-color:var(--bb, var(--back));}
.bord {border:thin solid var(--ff, var(--line));}
:where(button, .tag):not(.bord, .link, .nodec) {color:var(--front-invert);background-color:var(--ff, var(--front-note));}
/*button.bord:not(.bg) {background-color:var(--back);}*/

/* invert */
body .invert {color:var(--front-invert);}
body .invert {
  background-color:var(--ff, var(--back-invert));
  --link: var(--link-invert);
  --visited: var(--link);
  --hover: var(--link);
  --active: var(--link);
}
body a.invert {color:var(--link-invert);}

/* outline */
.input, input, select, textarea, button, [contenteditable], :where(a, summary):focus-visible {outline:.2em solid transparent;outline-offset:0;}
:where(.input, input, select, textarea, button, [contenteditable]):is(:focus, :focus-visible, :hover) {outline-color:var(--outline-hover);}
:where(input, select, textarea, button, [contenteditable]):focus {outline-color:var(--outline-focus);}
:where(a, summary, input, select, textarea, button, [contenteditable], label):focus-visible, :where(.input):focus-within/*, .input:has(+[popover]:focus-within)*/ {outline-color:var(--outline-focus-visible);}
.validate:valid, .input.validate:not(:has(:invalid, +[popover] :invalid)) {outline-color:var(--outline-valid);}
:invalid, .input:has(:invalid, +[popover] :invalid) {border-color:var(--front-danger);}
:invalid:focus, .input:has(:invalid, +[popover] :invalid):focus-within, .input:has(+[popover]:focus-within :invalid) {outline-color:var(--outline-invalid);}

/* progress */
progress {accent-color:var(--ff, var(--input-accent, var(--link)));}
/*progress {accent-color:color-mix(in oklch, var(--ff, var(--input-accent, var(--link))) 70%, var(--back));}*/

/* progress - custom * /
progress {
  appearance: none;
  -webkit-appearance: none;
  border-radius:.3em;
  overflow: hidden;
  border: none;
  width: 20em;
  max-width: 100%;
  height: .5em;
  background-color:var(--line, #eee);
  vertical-align:middle;
}
progress::-webkit-progress-bar {background-color:var(--line, #eee);border-radius:.3em;}
progress::-webkit-progress-value {background-color:var(--ff, var(--link));border-radius:.3em;}
progress::-moz-progress-bar {background-color:var(--ff, var(--link));}
