:root {
  /* link state */
  --visited: #808;
  --hover: #036;
  --active: #f00;
  
  /* invert */
  --front-invert: #fff;
  --back-invert: #666;
  --link-invert: #aef;/*#8cf;*//*#fe3;*/

  /* status */
  --front-note: #888;
  --front-info: #08a;
  --front-success: #181;
  --front-warning: /*#c60;*/#d70;
  --front-danger: #c00;
  --back-note: #eee;
  --back-info: #bef;
  --back-success: #beb;
  --back-warning: #fd9;
  --back-danger: #fbb;
  /* todo: transparent bg? */

  /* inputs */
  --outline-hover: #ddd8;
  --outline-focus: #ccc8;
  --outline-focus-visible: #9cfa;
  --outline-valid: #3c36;
  --outline-invalid: #f666;
}

a:has(img), ul.row li {-webkit-tap-highlight-color:transparent;}

body {color:var(--front);background-color:var(--back);}
.diagonals {background:repeating-linear-gradient(135deg, #9990, #9990 1em, #9991 1em, #9991 2em);}

.shade {box-shadow:var(--shade);}
.hilite, thead, tfoot, pre, code, blockquote, [readonly]:not(.input [readonly]) {background-color:var(--hilite);}
  pre code {background:none;}
:is(a, button, summary, label, .check).hover:hover, ul.row.hover li:is(:hover, :has(:hover))>a/*:has(>a)*/, .pop:hover>a.hover, table.hover  tr:hover>*/*, .tabs.hover>:is(a,label):hover*/ {box-shadow:inset 0 0 0 300vh var(--hilite);}

a:where([href]), :where(ul.row) a, .pop > a {color:var(--link);}
a:where([href]:not([href^="#"]):visited) {color:var(--visited);}
a:where([href]:hover) {color:var(--hover);}
a:where([href]:active), details[open] > summary, .act, .check:has(:checked) {color:var(--active);}

button   {--ff:var(--link);}
.tag     {--ff:var(--front-note);}
:where(button, .tag).bord {--ff:var(--front);--bb:var(--back);}
.neutral {--ff:var(--front);--bb:var(--back);}
.note    {--ff:var(--front-note);--bb:var(--back-note);}
.info    {--ff:var(--front-info);--bb:var(--back-info);}
.success {--ff:var(--front-success);--bb:var(--back-success);}
.warning {--ff:var(--front-warning);--bb:var(--back-warning);}
.danger  {--ff:var(--front-danger);--bb:var(--back-danger);}

.text, .ic:before, :where(.neutral, .note, .info, .success, .warning, .danger, button, .tag):not(.bg, .ic) {color:var(--ff, var(--front));}
.bg, button, .tag {background-color:var(--bb, var(--back));}
.bord {border:thin solid var(--ff, var(--line));}
:where(button, .tag):not(.bord) {color:var(--front-invert);background-color:var(--ff, var(--front-note));}

/* invert */
body .invert {color:var(--front-invert);}
body .invert {
  background-color:var(--ff, var(--back-invert));
  --link: var(--link-invert);
  --visited: var(--link);
  --hover: var(--link);
  --active: var(--link);
}
body a.invert {color:var(--link-invert);}

/* outline */
.input, input, select, textarea, button, [contenteditable], :where(a, summary):focus-visible {outline:.2em solid transparent;outline-offset:0;}
:where(.input, input, select, textarea, button, [contenteditable]):is(:focus, :focus-visible, :hover) {outline-color:var(--outline-hover);}
:where(input, select, textarea, button, [contenteditable]):focus {outline-color:var(--outline-focus);}
:where(a, summary, input, select, textarea, button, [contenteditable], label):focus-visible, :where(.input):focus-within {outline-color:var(--outline-focus-visible);}
.validate:valid, .input.validate:not(:has(:invalid)) {outline-color:var(--outline-valid);}
:invalid, .input:has(:invalid) {border-color:var(--front-danger);}
:invalid:focus, .input:has(:invalid):focus-within {outline-color:var(--outline-invalid);}

/* progress */
progress {accent-color:var(--ff, var(--link));}


/* smart dark mode */

html {background-color:var(--back);}
html, img, video, iframe, .invert, dialog {filter:var(--mode);}
html {--mode:none;}
html.invert, html:has(#invert:checked) {--mode:invert(.95) hue-rotate(180deg);--back:#ddd;--line:#bbb; /*!!!*/ --shade:0 0 .5em 0 #fff;--hilite:#fff4;/*#eee8;*/}
@media (prefers-color-scheme: dark) {
  html:not(.invert):not(:has(#invert:checked)) {--mode:invert(.95) hue-rotate(180deg);--back:#ddd;--line:#bbb; /*!!!*/ --shade:0 0 .5em 0 #fff;--hilite:#fff4;/*#eee8;*/}
  html.invert, html:has(#invert:checked) {--mode:none;}
}
