:root {
  --input-accent: #06f; /*var(--link, #06f);*/
}

/* radio, checkbox */
:is([type="checkbox"], [type="radio"]) {--input-color:var(--back-default);appearance:none;display:inline-block;height:1.2em;width:1.2em;background-color:var(--input-color);border-radius:1em;vertical-align:-15%;position:relative;transition:background-color .2s;line-height:1.2;margin:0 .2em;border:thin solid transparent;}
:is([type="checkbox"], [type="radio"]):not(:checked) {border-color:var(--line-input, #999);}
:is([type="checkbox"], [type="radio"]):checked {--input-color:var(--input-accent);}
:is([type="checkbox"], [type="radio"]):before {position:absolute;inset:0;content:"";background-color:var(--back-default);clip-path:circle(23%);}
/* box */
[type="checkbox"]:not(.switch) {border-radius:.25em;}
[type="checkbox"]:not(.switch):before {clip-path:polygon(10% 50%,40% 80%,90% 30%,80% 20%,40% 60%,20% 40%);}
/* switch */
[type="checkbox"].switch {width:2.2em;}
[type="checkbox"].switch:not(:checked) {--input-color:var(--line-input, #999);}
[type="checkbox"].switch:before {--pos:27%;clip-path:circle(28% at var(--pos) 50%);transition:clip-path .2s;}
[type="checkbox"].switch:checked:before {--pos:73%;}
