/* dark mode using vars - better for performance */
/*
color-mix(in oklch, var(--link), var(--front));
color-mix(in oklch, var(--link) 80%, var(--front) 20%);
oklch(from var(--link) calc(l - 0.2) calc(c + 0.2) calc(h - 160));
*/

:root:has(#dark:checked) {
  /* sizes; todo: --input-radius? */
  /* --gap: .5em; */
  /* --radius: 1em; /* calc(--gap); */
  
  --front: #f9f9f9;
  --back: #222;
  --back-input: #111; /* todo: calc() when if() is supported */
  --shade: 0 .1rem .8rem 0 #000e; /* todo: calc(front+alpha); calc() when if() is supported */
  --backdrop: #111d; /* todo: calc(back+alpha); calc() when if() is supported */
  /*--lnk: 200; /* hue */
  /*--link: #fe9; /* color; calc(--lnk) */
  /*--accent: green; /* color; inherits --link */
  /* calc() */
  /*--hilite: #6666; */
  /*--line: #444; */

  /* input: calculated; todo: calc() back-input */
  /* 
  --front-input: var(--front, #000);
  --line-input: #666;
  --back-input: #111;
  */
  /* link state: calculated */
  /*
  --link: #9cf;
  --visited: #c7d;
  --hover: #bdf;
  --active: #fe9;
  /* invert: calculated */
  /*
  --front-invert: var(--back);
  --back-invert: var(--front);
  */
  /*--link-invert: #04a;*/ /* todo: calc(link, coeff?) */
  /* status: constants for dark theme; todo: calc() when if() is supported */
  --light-front: 93%; /* 55% */
  --light-back: 45%; /* 93% */
  --chroma-front: 20%; /* 42% */
  --chroma-back: 35%; /* 12% */
  /* input outline: keep */
  /*
  --outline-hover: #ddd8;
  --outline-focus: #ccc8;
  --outline-focus-visible: #9cfa;
  --outline-valid: #3c36;
  --outline-invalid: #f666;
  */
}
