/* dark mode using vars - better for performance */
/*
color-mix(in oklch, var(--link), var(--front));
color-mix(in oklch, var(--link) 80%, var(--front) 20%);
oklch(from var(--link) calc(l - 0.2) calc(c + 0.2) calc(h - 160));
*/

:root:has(#dark:checked) {
  --front: #eee;
  --back: #222;
  --hilite: #6666; /* todo: calc(front) */
  --line: #444; /* todo: calc(front) */
  --shade: 0 .1rem .8rem 0 #0006; /* todo: calc(front+alpha) */
  --backdrop: #111d; /* todo: calc(back+alpha) */
  /* 
  --front-input: var(--front, #000);
  --line-input: #666;
  */
  --back-input: #111; /* todo: calc(?) */
  /* link state */
  --link: #9cf; /* todo: calc(hue-link) */
  --visited: #c7d; /* todo: calc(hue-visited) */
  /*--hover: #bdf;*/
  --active: #fe9; /* todo: calc(hue-active) */
  /* invert: calculated */
  /*
  --front-invert: var(--back);
  --back-invert: var(--front);
  */
  /*--link-invert: #04a;*/ /* todo: calc(link, coeff?) */
  /* status: swap back and front*/
  --light-front: 93%;
  --light-back: 45%;
  --chroma-front: 14%;
  --chroma-back: 35%;
  /* input outline: keep */
  /*
  --outline-hover: #ddd8;
  --outline-focus: #ccc8;
  --outline-focus-visible: #9cfa;
  --outline-valid: #3c36;
  --outline-invalid: #f666;
  */
}
