/* dark mode using vars - better for performance */

:root:has(#dark:checked) {
  --front: #fff;
  --back: #333;
  --hilite: #6666;
  --line: #999;
  --shade: 0 .1rem .8rem 0 #0006;
  --backdrop: #333c;
  --back-input: #000;
  --line-input: #999;
  /* link state */
  --link: #9cf;
  --visited: #c7d;
  --hover: #bdf;
  --active: #fcc;
  /* invert */
  --front-invert: #333;
  --back-invert: #fcfcfc;
  --link-invert: #04a;
  /* status: swap back and front*/
  --back-note: #888;
  --back-info: #08a;
  --back-success: #181;
  --back-warning: #b70;
  --back-danger: #c33;
  --front-note: #eee;
  --front-info: #bef;
  --front-success: #beb;
  --front-warning: #fd9;
  --front-danger: #fbb;
  /* inputs outline: keep */
  /*
  --outline-hover: #ddd8;
  --outline-focus: #ccc8;
  --outline-focus-visible: #9cfa;
  --outline-valid: #3c36;
  --outline-invalid: #f666;
  */
}
