.show {display:revert !important;}
.hide, body.js .hide-js, body:not(.js) .show-js {display:none !important;}

/* wide screen */
@media (50rem <= width) {
  .show-l {display:revert !important;}
  .hide-l {display:none !important;}
}
@container block (50rem <= width) {
  .show-cl {display:revert !important;}
  .hide-cl {display:none !important;}
}

/* medium screen */
@media (32rem <= width < 50rem) {
  .show-m {display:revert !important;}
  .hide-m {display:none !important;}
}
@container block (32rem <= width < 50rem) {
  .show-cm {display:revert !important;}
  .hide-cm {display:none !important;}
}

/* narrow screen */
@media (width < 32rem) {
  .show-s {display:revert !important;}
  .hide-s {display:none !important;}
}
@container block (width < 32rem) {
  .show-cs {display:revert !important;}
  .hide-cs {display:none !important;}
}

