.form {display:grid;gap:calc(.1 * var(--gap));grid-template-columns:1fr;justify-items:start;align-items:first baseline;flex-wrap:wrap;}
.form > br {display:none;}
.form > br + * {margin-top:calc(.5 * var(--gap));}
.form.just > :where(.span, .shift, :not(br) + *) {justify-self:stretch;}
.form.just > :where(.span, .shift, :not(br) + *) > :where(.input, input:not([type="checkbox"], [type="radio"], [type="color"], [type="range"], [type="file"]), select, textarea, [contenteditable], button) {width:100%;box-sizing:border-box;}


/*@media (50rem <= width) {*/
@container block (32rem <= width) {
  .form.resp {gap:calc(.8 * var(--gap)) var(--gap);grid-template-columns:minmax(min-content, 1fr) 2fr;}
  .form.resp > * {margin-top:0;}
  .form.resp > br + * {grid-column-start:1;}
  .form.resp > .shift {grid-column-start:2;}
  .form.resp > .span {grid-column:1 / span 2;}
  :where(.form.resp.stretch) > *:is(:first-child, br + *):not(.span, .shift) {justify-self:end;}
  .form.resp > .just-l {justify-self:start;}
  .form.resp > .just-c {justify-self:center;}
  .form.resp > .just-r {justify-self:end;}
  .form.resp > .just-s {justify-self:stretch;}
}

/* validation tips */

.form .tip {display:block;margin-block:calc(.3 * var(--gap));/*line-height:1.2;*/}
/*:not(:user-valid, :user-invalid) + .tip > :is(.danger, .success), :user-valid + .tip > .danger, :user-invalid + .tip > .success {display:none;}*/
:valid + .tip > .danger, :invalid + .tip > .success {display:none;}
.input:not(:has(:invalid)) + .tip > .danger, .input:has(:invalid) + .tip > .success {display:none;}
