@keyframes spin { to {transform: rotate(360deg);} }
@keyframes blink { 50% {opacity: .2;} 100% {opacity: 1;} }
@keyframes pulse { 0% {scale: 1.15;} 50% {scale: .8;} 100% {scale: 1.15;} }
/*@keyframes turning { to {transform: rotate3d(0, 1, 0, 360deg);} }*/
@keyframes flip { to {transform: rotateX(360deg);} }
@keyframes turn { to {transform: rotateY(360deg);} }
@keyframes swing { 25% {transform: rotate(20deg);} 75% {transform: rotate(-20deg);} }

.anim-spin, .icon-spin {--anim: spin 1s linear infinite;}
.anim-blink {--anim: blink 1s ease-in-out infinite;}
.anim-pulse{--anim: pulse 1s ease-in-out infinite;}
.anim-flip {--anim: flip 2s linear infinite;/*perspective:1.5em;perspective-origin:calc(var(--size) / 2) calc(var(--size) / 2);/*display:inline-block;*/}
.anim-turn {--anim: turn 2s linear infinite;/*perspective:1.5em;perspective-origin:calc(var(--size) / 2) calc(var(--size) / 2);/*display:inline-block;*//*transform-style:preserve-3d;*/}
.anim-swing {--anim: swing 1s linear infinite;}