:root {
  --line-input: #999;
}

/* browser-specific fixes */

button, [type="submit"], [type="search"] {-webkit-appearance:none;} /* safari */
select::-moz-focus-inner, button::-moz-focus-inner, [type="submit"]::-moz-focus-inner {border:none;padding:0;} /* firefox */
input:-webkit-autofill { -webkit-box-shadow: 0 0 0px 100em var(--back-default) inset; } /* avoid autofill highlighting */
/*::-webkit-calendar-picker-indicator {display:none;}*/

/* inputs */

.input, input:where(:not([type="checkbox"], [type="radio"], [type="color"], [type="range"], [type="file"])), select, textarea, [contenteditable]/*, label:has([type="file"])*/ {border:thin solid var(--line-input);border-radius:calc(.5 * var(--radius));padding:calc(.5 * var(--gap));color:var(--front-default);background-color:var(--back-default);/*line-height:1.5;min-height:1.5em;*/}
button {border-radius:var(--radius);}
button:not(:disabled), .check {cursor:pointer;}
  /*button*/:disabled {opacity:.5;cursor:not-allowed;}
  .inact, form:has(:invalid) .detect {opacity:.5;pointer-events:none;/*filter:grayscale(1);*/}
button {min-width:6em;}
/*input[type="submit"] {background-color:var(--line);}*/

/* custom input */

.input {display:inline-flex;min-width:max-content;padding-block:0;align-items:center;gap:calc(.5 * var(--gap));}
.input input {flex:1;margin:0;padding-inline:0;border:none;outline:none !important;}
.input button {padding:0 calc(.3 * var(--gap));min-width:0;color:var(--ff, var(--front));background-color:transparent;}
  .input button.bg {background-color:var(--bb, transparent);}
/*.input > :not(input) {padding:calc(.5 * var(--gap));}*/

/* fix inconsistent height of select and dates */

select {appearance:none;padding-right:1.2em;background:var(--back-default) no-repeat right .2em top 50% / .6em .6em url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpath d='M1 4l4 4 4-4-1-1-3 3-3-3z' fill='%23666'/%3E%3C/svg%3E");}
input:is([type="date"], [type="time"], [type="datetime-local"]) {padding:calc(.44 * var(--gap));}
/*select {padding:calc(.55 * var(--gap));}*/
/*select, textarea {vertical-align:top;}*/