@media print{
  :root { --back:#fff;--shade:0 0 .1rem 0 #0004;--line:#eee;--hilite:#f9f9f9;/*--back-note:#f6f6f6;*/background:none; }
  body {font:12pt/1.3 serif;background:none;}
  h1, h2, h3, h4, h5, h6 {page-break-after:avoid;}
  /*pre, blockquote {border-left:thin solid #ccc;}*/
  button, [type=submit] /*, body :is(.invert, .invert a)*/ {border:thin solid var(--line-input);color:#000 !important;background:#fff !important;}
  /*input, select, textarea {border-width:0 0 thin 0;}*/
  .hide-print {display:none !important;}
}
