img, embed, iframe, object, audio, video {max-width:100%;}
button, input, select, textarea {margin:0;}
img, iframe, fieldset, hr {border:none;}
img {object-fit:cover;}
html, body, li, dt, dd, legend, iframe, fieldset {margin:0;padding:0;}
* {box-sizing:content-box;}
table, img, embed, iframe, object, audio, video, button, input, select, textarea, [contenteditable] {box-sizing:border-box;}
