.fit {margin:0;border:none;padding:0;border-radius:0;}
  button.fit {min-width:0;padding:0 .2em;}
  button.nodec {all:unset;color:var(--ff);}
  button.nodec:focus-visible {outline:.2em solid var(--outline-focus-visible);}
  a.nodec, .nodec a {text-decoration:none;}
.full {box-sizing:border-box;height:100vh;height:100dvh;}
.resize {resize:both;overflow:auto;}
.scroll {overflow:auto;min-width:5em;min-height:2.5em;}
/*::-webkit-resizer {border:3em solid red;background:blue;}*/ /* can not make it larger */

pre {overflow:auto;max-height:80vh;}
code, kbd {padding:calc(.1 * var(--gap)) calc(.2 * var(--gap));}
pre code {padding:0;border:none;border-radius:0;}
.mar, ul, ol, dl, blockquote, pre, hr, p, figure {margin:var(--gap) 0;}
.pad, button, fieldset, blockquote, pre {padding:calc(.5 * var(--gap)) var(--gap);border:thin solid transparent;}
/*legend {margin-left:var(--gap);}*/
legend {padding:0 calc(.25 * var(--gap));}
/*.bord,*/ kbd, fieldset, hr {border:var(--bord);}
hr {border-width:thin 0 0 0;}
.rad, .tag, code, kbd, pre, button, button.fit, [type="submit"] {border-radius:var(--radius);}
abbr {border-bottom:thin dotted;text-decoration:none;}
/*sub, sup {line-height:0em;}*/
.tag {padding:0 .5em;display:inline-block;line-height:1.5;}
.tag.c {border-radius:1em;min-width:.5em;text-align:center;}
  :has(>sup.tag) {position:relative;margin-right:1em;}
  sup.tag {position:absolute;inset:0 0 auto auto;translate:50% -30%;font-size:80%;}
  button > sup.tag {translate:50% -50%;}
  sup.tag {outline:thin solid var(--back);}
  sup.tag:empty {min-width:0;padding:.5em;}

.wide {width:100%;}
.wide-s {max-width:32rem;}
.wide-m {max-width:50rem;}
.wide-l {max-width:80rem;}
[class*="wide"] {box-sizing:border-box;}

:is(a, span):is(.pad, .pads) {display:inline-block;}
.center {margin-inline:auto;}
.mars {margin:var(--gap);}
.pads {padding:var(--gap);}
.bord {border:var(--border);}

/* custom scrollbar */
@media (50rem <= width) {
  .scrollbar::-webkit-scrollbar{width:.5em;height:.5em;background:#eee;}
  .scrollbar::-webkit-scrollbar-thumb{background:#ccc;}
  .scrollbar{scrollbar-width:thin;scrollbar-color:#ccc #eee;}
}
