table {border-collapse:collapse;border-spacing:0}
td, th {padding:0;text-align:left;vertical-align:top;background-clip:padding-box;}

table:not(.fit)>*>tr>* {padding:calc(.25 * var(--gap)) calc(.5 * var(--gap));}
table.bord {border:none;}
table.bord>*>tr>* {border:var(--bord);}
table.line>*>tr>* {border-bottom:var(--bord);}
  table.line>:last-child>tr:last-child>* {border-bottom:none;}
table.c>*>tr>* {text-align:center;}
/*
.c1 td:nth-child(1) {text-align:center;}
.c2 td:nth-child(2) {text-align:center;}
.c3 td:nth-child(3) {text-align:center;}
.c4 td:nth-child(4) {text-align:center;}
.c5 td:nth-child(5) {text-align:center;}
.c6 td:nth-child(6) {text-align:center;}
.c7 td:nth-child(7) {text-align:center;}
.c8 td:nth-child(8) {text-align:center;}
.c9 td:nth-child(9) {text-align:center;}
.r1 td:nth-child(1) {text-align:right;}
.r2 td:nth-child(2) {text-align:right;}
.r3 td:nth-child(3) {text-align:right;}
.r4 td:nth-child(4) {text-align:right;}
.r5 td:nth-child(5) {text-align:right;}
.r6 td:nth-child(6) {text-align:right;}
.r7 td:nth-child(7) {text-align:right;}
.r8 td:nth-child(8) {text-align:right;}
.r9 td:nth-child(9) {text-align:right;}
*/