:root {color-scheme: light dark;}

:root { /* dependent vars for theming are listed in ":root, .invert" section below */
  /* size */
  --gap: 1em;
  --radius: calc(.3 * var(--gap));
  --top: 5rem;
  /*--icon-scale: 1.25;*/
  
  /* basics */
  --front: light-dark(#222, #eee); /* --front-input, --hover */
  --back: light-dark(#f9f9f9, #222);
  --accent: light-dark(#04a, #9cf); /* --link, --input-accent, --hover */
  
  /* decor */
  --hilite: light-dark(#ccc3, #6666);
  --line: light-dark(#ccc, #444); /* --bord */
  --shade: 0 .1rem .8rem 0 light-dark(#0003, #0009);
  --drag: #aaa3;

  /* typo */
  --root-font-size: 1;
  --hx: 1.25; /* headings size multiplier */
  --serif: "PT Serif", Georgia, serif;
  --sans: "PT Sans", Roboto, "Segoe UI", sans-serif;
  --mono: "PT Mono", monospace;
  /*--divider: "/";*/ /* breadcrumbs divider */

  /* input */
  --line-input: light-dark(#999, #666); /*color-mix(in oklch, var(--line, #999) 70%, var(--front));*/
  --back-input: light-dark(#fff, #111);
  --pad-input: calc(.5 * var(--gap));
  --rad-input: calc(.5 * var(--radius));

  /* input outline */
  --outline-hover: #ddd8;
  --outline-focus: #ccc8;
  --outline-focus-visible: #9cfa;
  --outline-valid: #3c36;
  --outline-invalid: #f666;  
  
  /* link state */
  --visited: light-dark(#808, #c7d);
  --active: light-dark(#f00, #fe9);
  --mark: #fe6;

  /* status */
  --front-note: light-dark(#888, #bbb);
  --front-info: light-dark(#08a, #bef);
  --front-success: light-dark(#282, #beb);
  --front-warning: light-dark(#b70, #fd9);
  --front-danger: light-dark(#c11, #eaa);
  --back-note: light-dark(#eee, #666);
  --back-info: light-dark(#bef, #057);
  --back-success: light-dark(#beb, #262);
  --back-warning: light-dark(#fd9, #950);
  --back-danger: light-dark(#fcc, #922);

  /* toggle */
  --backdrop: light-dark(#6665, #000d);
  --drawer-width: 20rem;
  --list-width: 15rem; /* pop list width */
  --pop-height: min(20rem, 80vh); /* max-height */
  --dur: 0s; /* transition */
}

/* dependent vars */
:root, .invert {
  --link: var(--accent);
  --hover: color-mix(in oklch, var(--link) 67%, var(--front));
  --bord: thin solid var(--line);
  --front-input: var(--front);
  --input-accent: var(--accent);
}

/* optional fine-tuning */
@media (width < 32em) {
	:root {
    --hx: 1.15;
  }
}
@media (width >= 50em) {
	:root {
    --root-font-size: 1.2; /* fallback; overridden with clamp() */
    --top: 3rem;
  }
}

/* inverted */
@media not print {
  
.invert, html:has(#invert:checked) {
  /* basics */
  --front: light-dark(#eee, #222);
  --back: light-dark(#222, #f9f9f9);
  --accent: light-dark(#8bf, #04a);
  --link: light-dark(#bdf, #04a);
  /* decor */
  --hilite: light-dark(#6666, #ccc3);
  --line: light-dark(#444, #ccc);
  --shade: 0 .1rem .8rem 0 light-dark(#0009, #0003);
  /* input */
  --line-input: light-dark(#666, #999);
  --back-input: light-dark(#111, #fff);
  /* link state */
  --visited: light-dark(#c7d, #808);
  --active: light-dark(#fe9, #f00);
  --mark: #dc3;
  /* status */
  --front-note: light-dark(#bbb, #888);
  --front-info: light-dark(#bef, #08a);
  --front-success: light-dark(#beb, #282);
  --front-warning: light-dark(#fd9, #b70);
  --front-danger: light-dark(#eaa, #c22);
  --back-note: light-dark(#666, #eee);
  --back-info: light-dark(#057, #bef);
  --back-success: light-dark(#262, #beb);
  --back-warning: light-dark(#950, #fd9);
  --back-danger: light-dark(#911, #fcc);
  /* toggle */
  --backdrop: light-dark(#000d, #6665);
}

}

/* viewport size */
/*
 --is-l: max(0, sign(100vw - 1199px));
 --is-s: max(0, sign(640px - 100vw));
 --is-m: max(0, calc(1 - var(--is-l) - var(--is-s)));
*/

/*
h1:before {
  counter-reset: sz-l var(--is-l) sz-m var(--is-m) sz-s var(--is-s); 
  content: " = " counter(sz-l) " / " counter(sz-m) " / " counter(sz-s) " = "; 
}
*/
/* Implicit Style Container - has bugs in Chrome on 2026-07-22 */
/*
@container style(--is-s = 1) {
  h1 {color:red;} 
  h1:after {content:" S";}
}
*/