:root {
  color-scheme: light dark;
    
  /* size */
  --gap: 1em;
  --list-width: 15rem;
  --radius: calc(.3 * var(--gap));
  --top: 5rem;
  
  /* basics */
  --front: light-dark(#222, #eee);
  --back: light-dark(#f9f9f9, #222);
  --accent: light-dark(#04a, #9cf);
  --link: var(--accent);
  
  /* lines */
  --hilite: light-dark(#ccc3, #6666);
  --line: light-dark(#ccc, #444);
  --bord: thin solid var(--line);
  --shadow: light-dark(#0003, #0009);
  --shade: 0 .1rem .8rem 0 var(--shadow);
  --drag: #aaa3;/*#fc33;*/

  /* typo */
  --root-font-size: 1;
  --font-coeff: 1.25; /* headings multiplier */
  --serif: "PT Serif", Georgia, serif;
  --sans: "PT Sans", Roboto, "Segoe UI", sans-serif;
  --mono: "PT Mono", monospace;
  /*--divider: "/";*/ /* breadcrumbs divider */

  /* input */
  --back-input: light-dark(#fff, #111);
  --front-input: var(--front);
  --line-input: light-dark(#999, #666); /*color-mix(in oklch, var(--line, #999) 70%, var(--front));*/
  --input-accent: var(--accent);

  /* input outline */
  --outline-hover: #ddd8;
  --outline-focus: #ccc8;
  --outline-focus-visible: #9cfa;
  --outline-valid: #3c36;
  --outline-invalid: #f666;  
  
  /* color */
    /* link state */
    --visited: light-dark(#808, #c7d);
    /*--hover: light-dark(#036, #bdf);*/
    --hover: color-mix(in oklch, var(--link) 67%, var(--front));
    --active: light-dark(#f00, #fe9);
    --mark: #fe6;
    /* invert */
    --front-invert: var(--back);
    --back-invert: var(--front);
    --link-invert: light-dark(#9cf, #04a);
    /* status */
    --front-note: light-dark(#888, #eee);
    --front-info: light-dark(#08a, #bef);
    --front-success: light-dark(#383, #beb);
    --front-warning: light-dark(#b70, #fd9);
    --front-danger: light-dark(#c33, #fbb);
    --back-note: light-dark(#eee, #888);
    --back-info: light-dark(#bef, #08a);
    --back-success: light-dark(#beb, #383);
    --back-warning: light-dark(#fd9, #b70);
    --back-danger: light-dark(#fbb, #c33);

  /* icon */
  /*--icon-scale: 1.25;*/

  /* toggle */
  --backdrop: light-dark(#6665, #000d);/*#6669;/*#0006;/*#0002;*/
  --drawer-width: 20rem;
  --pop-height: min(20rem, 80vh);
  /* transition */
  --dur: 0s;

  
  /* viewport size */
  /*
   --is-l: max(0, sign(100vw - 1199px));
   --is-s: max(0, sign(640px - 100vw));
   --is-m: max(0, calc(1 - var(--is-l) - var(--is-s)));
  */
}

@media (width >= 50rem) {
	:root {
    --root-font-size: 1.2;
    --top: 3rem;
  }
}

/*
h1:before {
  counter-reset: sz-l var(--is-l) sz-m var(--is-m) sz-s var(--is-s); 
  content: " = " counter(sz-l) " / " counter(sz-m) " / " counter(sz-s) " = "; 
}
*/
/* Implicit Style Container - has bugs in Chrome on 2026-07-22 */
/*
@container style(--is-s = 1) {
  h1 {color:red;} 
  h1:after {content:" S";}
}
*/


html.invert, html:has(#invert:checked) {
  color-scheme: light dark;
  /* basics */
  --front: light-dark(#eee, #222);
  --back: light-dark(#222, #f9f9f9);
  --accent: light-dark(#8bf, #04a);
  --link: light-dark(#bdf, #04a);
  /* lines */
  --hilite: light-dark(#6666, #ccc3);
  --line: light-dark(#444, #ccc);
  --shadow: light-dark(#0009, #0003);
  /* input */
  --back-input: light-dark(#111, #fff);
  /*--front-input: var(--front);*/
  --line-input: light-dark(#666, #999);
  /* color */
  /* link state */
  --visited: light-dark(#c7d, #808);
  /*--hover: light-dark(#bdf, #036);*/
  --active: light-dark(#fe9, #f00);
  --mark: #dc3;
  /* invert */
  --link-invert: light-dark(#04a, #bdf);
  /* status */
  --back-note: light-dark(#666, #bbb);
  --back-info: light-dark(#057, #bef);
  --back-success: light-dark(#262, #beb);
  --back-warning: light-dark(#950, #fd9);
  --back-danger: light-dark(#911, #fbb);
  --front-note: light-dark(#bbb, #666);
  --front-info: light-dark(#bef, #057);
  --front-success: light-dark(#beb, #262);
  --front-warning: light-dark(#fd9, #950);
  --front-danger: light-dark(#fbb, #911);
  /* toggle */
  --backdrop: light-dark(#000d, #6665);
}