/*
+ pop - details.pop
~ hint
+ dropdown
+ toggle - details
+ accordion - .target nested
+ tree - details nested
+ tabs
+ modal
+ drawer
~ gallery
+ dialog
+ popover
~ popover=hint
*/

:root {
  --backdrop: #6669;/*#0006;/*#0002;*/
  --drawer-width: 20rem;
  --pop-height: 20rem;
}

html {scroll-padding-top:5rem;}

/*.check {}*/
/*.tree {}*/
.gallery {}

/* common */
:where(ul.row) ul, :where(.pop) > *+:last-child, :where(.modal, .drawer, .popwin, dialog), [data-hint]:after, dialog[popover="hint"] {box-sizing:border-box;background:var(--back);box-shadow:var(--shade);}
:is(.modal, .target):where(:not(:target, :has(:target), .show)) {display:none;}

/* check */
.check:where(input:not(:checked), :has(input:not(:checked))) + :not(:target):not(:has(:target)), .check input, input.check {display:none;}

/* target */
/*.target {scroll-margin-top:3em;}*/

/* details */
summary {cursor:pointer;}
summary[class*="icon-"] {/*list-style:none;*/display:block;overflow:hidden;/*list-style-image:var(--i);*/}
summary[class*="icon-"]::-webkit-details-marker {display:none;} /* safari */

/* details popup */
details.pop {position:relative;}
details.pop, details.pop > summary {display:inline-block;}
details.pop > summary {vertical-align:bottom;}
details.pop > div {position:absolute;left:0;top:100%;z-index:50;width:max-content;min-width:5em;max-width:var(--list-width);}
details.pop.l > div {left:auto;right:0;}

/* pop auto position */
.popwin {position:fixed;z-index:110;max-width:var(--list-width);max-height:45vh;overflow:auto;}

/* modal - do not nest!*/
.modal {z-index:100;position:fixed;overflow:auto;}
.modal:not(.full) {min-height:10rem;max-height:90dvh;min-width:18rem;max-width:90vw;inset:38% auto auto 50%;transform:translate(-50%,-38%);}
.modal.full {inset:0;/*calc(5 * var(--gap));*/}
body:has(.modal.full:target, .modal.full :target) {overflow:hidden;}

/* gallery*/
img:target {position:absolute;display:block;inset:0;width:100%;height:100%;object-fit:contain;}
.corner {position:absolute;inset:0 0 auto auto;z-index:10;}

/* drawer */
.drawer {--wdr:calc(1em + var(--drawer-width));position:fixed;inset:0 auto 0 calc(0em - var(--wdr));width:min(var(--drawer-width), 80%);z-index:80;overflow:auto;}
.drawer:not(.shift):is(:target, :has(:target), .show, dialog[open]) {left:0em;}
.drawer.shift {inset:0 calc(0px - var(--wdr)) 0 auto;}
.drawer.shift:is(:target, :has(:target), .show, dialog[open]) {right:0em;}

/* backdrop */
:where(.backdrop) {
  display:none;position:fixed;inset:-5em;z-index:70;cursor:default;outline:none;
  background:var(--backdrop);opacity:.5;
  /*backdrop-filter:blur(.1em) contrast(.7) brightness(.9);*/
}
:where(body > .backdrop) {z-index:60;}
:where(:is(.modal, .drawer):is(:target, :has(:target))) + .backdrop, 
body:has(:is(.modal, .drawer):target, :is(.modal, .drawer) :target) > .backdrop
  {display:block;}

/* switches */
html:has(#x1:not(:checked)) .x1,
html:has(#x2:not(:checked)) .x2,
html:has(#x3:not(:checked)) .x3,
html:has(#x4:not(:checked)) .x4,
html:has(#x5:not(:checked)) .x5,
html:has(#x6:not(:checked)) .x6,
html:has(#x7:not(:checked)) .x7,
html:has(#x8:not(:checked)) .x8,
html:has(#x9:not(:checked)) .x9
{display:none;}


/* pop, dropdown, hint */
div.pop, ul.row li, [data-hint] {position:relative;/*z-index:20;*/}
div.pop {display:inline-block;}
  /* subnav arrow */
  ul.row li:has(ul)>a {padding-right:calc(1.5 * var(--gap));}
  ul.row li:has(ul)>a:after {content:'\a0\a0\203a';color:var(--front);opacity:.5;position:absolute;right:.5em;top:50%;transform:translateY(-50%);}
  /**/
div.pop:not(:hover, :focus-within, [open]) > *+:last-child, ul.row li:not(:hover, :focus-within)>ul, 
  ul.row:hover li:not(:hover) > ul, /* hide focused when there is hover */
  ul.row.click:not(:focus-within) ul /* require click */
  {display:none;}
div.pop>*+:last-child, ul.row ul, [data-hint]:after {position:absolute;--pos:0 auto auto 100%;inset:var(--pos);/*transform:var(--mov);*/z-index:50;}
div.pop>*+:last-child, ul.row ul {min-width:var(--list-width);}
ul.row ul {padding:calc(1 * var(--gap)) 0;}
  div.pop>*+:last-child:not(:has(div.pop)), ul.row ul:not(:has(ul)) {max-height:var(--pop-height);overflow:auto;}
  div.pop>*+:last-child {--pos:100% auto auto 0;}
  div.pop.l>*+:last-child {--pos:100% 0 auto auto;}
[data-hint]:is(:hover, :focus):after {content:attr(data-hint);}
  [data-hint]:after, dialog[popover="hint"] {white-space:nowrap;padding:calc(.2 * var(--gap)) calc(.5 * var(--gap));--pos:auto auto 100% 0;}
  [data-hint].l:after {--pos:auto 0 100% auto;}
  [data-hint].c:after {--pos:auto auto 100% 50%;translate:-50% 0;}
  [data-hint] {cursor:help;}

/* dialog */
:where(dialog, [popover]) {border:none;padding:0;}
dialog:not([popover])::backdrop {background:#6665;/*var(--backdrop);*//*pointer-events:all !important;*//*-a11y*/}
dialog.full {inset:0;margin:0;width:auto;height:auto;max-width:none;max-height:none;}
dialog.drawer {height:auto;max-height:none;margin:0;}
body:has(dialog.full:open) {overflow:hidden;}
/*
@media (width < 32rem) {
  dialog:not([popover]) {inset:0;width:auto;height:auto;max-width:none;max-height:none;}
}
*/

[popover] {
  max-height:var(--pop-height);
  /*max-width:var(--list-width);*/
  position:fixed;
  /*position-anchor:--anc;*/ /* button {anchor-name:--anc;}*/
  position-area:bottom span-right;
  /*top:anchor(bottom);left:anchor(left);*/
  /*position-try-fallbacks: flip-block, flip-inline, flip-block flip-inline, span-all span-all;*/
  position-try-fallbacks: top span-right, bottom span-left, top span-left;
  /*max-width:var(--list-width);*/
  margin:calc(.5 * var(--gap)) 0;
}

[popover="hint"] {
  position-area:top span-all;
  position-try-fallbacks:top span-right, top span-left, bottom span-all, bottom span-right, bottom span-left;
}

  
/* tabs */
.tabs a {border-bottom:2px solid transparent;}
/*.tabs.row.gap li>:not(ul, form) {padding-block:calc(.5 * var(--gap));}*/
.tabs a:is(.act, :hover) {border-color:var(--link);--active:var(--link);} /*var(--front)*/
ul.tabs + div:not(:has(:target)) > :not(:first-child),
ul.tabs + div:has(:target, .show) > :not(:is(:target, :has(:target)))
{display:none;}
ul.tabs + div > * {scroll-margin-top:2em;}

/* hilite active tab * /
body:has(#tab1:target) [href="#tab1"],
body:has(#tab2:target) [href="#tab2"],
body:has(#tab3:target) [href="#tab3"],
ul.tabs:not(:has(+div :target)) li:nth-child(2) a
  {border-color:var(--link);}
/** /
:where(.tabs:has(+div>:nth-child(1):target)>li:nth-child(1 of :has(a))) a {color:var(--active);}
:where(.tabs:has(+div>:nth-child(2):target)>li:nth-child(2 of :has(a))) a {color:var(--active);}
:where(.tabs:has(+div>:nth-child(3):target)>li:nth-child(3 of :has(a))) a {color:var(--active);}
:where(.tabs:has(+div>:nth-child(4):target)>li:nth-child(4 of :has(a))) a {color:var(--active);}
:where(.tabs:has(+div>:nth-child(5):target)>li:nth-child(5 of :has(a))) a {color:var(--active);}
/**/

/*
summary[class*="icon-"] {--fsz:.6;}
summary[class*="icon-"]:before {vertical-align:baseline;}
*/

/* custom summary * /
summary::marker, summary::-webkit-details-marker {display:none;content:"";}
summary {padding-left:1.2em;background:no-repeat .2em 50% / .6em .6em url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpath d='M4 1l4 4-4 4-1-1 3-3-3-3z'/%3E%3C/svg%3E");}
[open] > summary {background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpath d='M1 4l4 4 4-4-1-1-3 3-3-3z' fill='%23666'/%3E%3C/svg%3E");}
*/