:root {
  --root-font-size: 1;
  --font-coeff: 1.25; /* headings multiplier */
  --serif: "PT Serif", Georgia, serif;
  --sans: "PT Sans", Roboto, "Segoe UI", sans-serif;
  --mono: "PT Mono", monospace;
}
@media (50rem <= width) {
	:root {--root-font-size: 1.2;}
}

/* typography */
input, select, textarea, button, table {font:inherit;}
:root {font-size:calc(100% * var(--root-font-size, 1));/*fallback*/ font-size:clamp(100%, 2vw, 120%);}
h1, h2, h3, h4, h5, h6, small, .small, .regular {font-size:calc(1rem * var(--fsz, 1));}
body {line-height:1.5;}
h1 {--fsz:calc(var(--font-coeff) * var(--font-coeff) * var(--font-coeff));}
h2 {--fsz:calc(var(--font-coeff) * var(--font-coeff));}
h3 {--fsz:var(--font-coeff);}
h4 {--fsz:1;}
h5, small, .small {--fsz:calc(1 / var(--font-coeff));}
.regular {--fsz:1;}
h6 {--fsz:calc(1 / var(--font-coeff) / var(--font-coeff));}
h1, h2, h3, h4, h5, h6{margin:calc(2 * var(--root-gap)) 0 var(--root-gap) 0;}
h1, h2 {line-height:1.3;}

.sans, body {font-family:var(--sans);}
.serif {font-family:var(--serif);}
.mono, pre, code, kbd, samp {font-family:var(--mono);font-size:90%;}
pre, code  {white-space:pre-wrap;}
pre code {font-size:100%;}

/* align */
caption, figcaption {text-align:left;font-style:italic;}
.l {text-align:left;}
.c {text-align:center;}
.r {text-align:right;}
.mid, img.c, table.mid>*>tr>*, tr.mid>*, tr>.mid, .mid {vertical-align:middle;}
.nobr, button {white-space:nowrap;}

/* link */
a[href] {text-underline-offset:.2em;text-decoration-thickness:1px;}

/* image */
main, img.fit, img.center {display:block;}
img.c {border-radius:50%;aspect-ratio:1;}

/* list */
ul {list-style:disc outside;}
ul, ol, dl {margin:var(--gap) 0;}
ul, ol, dd {padding:0 0 0 calc(1.5 * var(--gap));}
details > :is(details, ul, ol, dl) {/*margin-left:var(--gap);*/margin:0 0 0 var(--gap);}
details > :is(ul, ol, dl) {padding-left:var(--gap);}
/*li, dt, dd {margin:calc(.25 * var(--gap)) 0;}*/
li ul, li ol {margin:calc(.5 * var(--gap)) 0;}
dt {font-weight:bold;}
:is(ul, ol).fit, :is(ul, ol).fit :is(ul, ol) {list-style:none;}

