:root {
  --root-gap: 1rem;
  --gap: 1em;
  --list-width: 12rem;
  --radius: calc(.3 * var(--gap));
  
  --hilite: /*#00000009;*/#ccc3;
  --line: #ccc;
  --bord: thin solid var(--line);
  --shade: 0 .1rem .8rem 0 #0003;
  
  --front-default: #000;
  --back-default: #fff;
  --front: #333;
  --back: #fcfcfc;
  --link: #04a;
}